@tailwind base;
@tailwind components;
@tailwind utilities;


.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
}